@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #001529;
    --main-color: #029AAD;
}

body {
    font-family: 'Nunito', sans-serif;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 310px 1fr;
    color: white;
    background-color: #F5F5F5;
}



.container-page {
    width: 100%;
    max-width: 1050px;
    margin-left: 30px;
    padding: 0px 20px;
    color: black;
    height: 100vh;
    overflow: scroll;
}

.base-input {
    height: 30px;
    width: auto;
    border: 1px solid white;
}

.base-select {
    width: 100%;
}

.base-picker {
    border: 1px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ant-select-selector {
    height: 45px !important;
    border: 1px solid transparent !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ant-select-arrow {
        width: auto;
    height: auto;
    margin-top: -12px!important;
}

.ant-select-selection-item {
    display: flex;
    align-items: center;
}

.ant-select-selection-placeholder {
    display: flex;
    align-items: center;
}


/* Header */
.page-header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-title {
    display: flex;
    align-items: center;
}


.page-header-title>h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
}



/* Scrollbar */


/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }



  /* Collapse */


.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.collapse-header-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #001529;
    margin-left: 10px;
}

.collapse-header-message {
    padding: 6px 20px;
    color: #2A9534;
    background: #E0FFE3;
    border-radius: 5px;
    display: inline-block;
}

.collapse-header-message--error{
    color: rgba(219, 10, 10, 1);
    background: #FFE8E8;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    vertical-align: -8px !important;
}

.ant-collapse-ghost>.ant-collapse-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
    border-radius: 5px;
    margin: 16px 0px;
}